@model SymphonyLtd.Helper.PaginatedList<SymphonyLtd.Models.tblResult>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";

}


<div class="block-header">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <ul class="breadcrumb breadcrumb-style ">
                <li class="breadcrumb-item">
                    <h4 class="page-title">Normal Table</h4>
                </li>
                <li class="breadcrumb-item bcrumb-1">
                    <a href="../../index.html">
                        <i class="fas fa-home"></i> Home
                    </a>
                </li>
                <li class="breadcrumb-item bcrumb-2">
                    <a href="#" onclick="return false;">Tables</a>
                </li>
                <li class="breadcrumb-item active">Normal</li>
            </ul>
        </div>
    </div>
</div>

<!--Custom Table-->
<div class="row clearfix">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
            <div class="header">
                <form action="~/Admin/Results/Index" method="post">
                    <div class="row clearfix">
                        <div class="col-sm-3">
                            <div class="form-group">
                                <div class="form-line">
                                    <input type="text" name="StudentName" class="form-control" placeholder="Student Name">
                                </div>
                            </div>
                        </div><div class="col-sm-3">
                            <div class="form-group">
                                <div class="form-line">
                                    <input type="text" name="StudentID" class="form-control" placeholder="Student ID">
                                </div>
                            </div>
                        </div><div class="col-sm-3">
                            <div class="form-group">
                                <div class="form-line">
                                    <input type="text" name="Marks" class="form-control" placeholder="Marks">
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group">
                                <div class="form-line">
                                    <button style="margin: 5% 0;" type="submit">Search</button>
                                </div>
                            </div>
                        </div>

                    </div>
                </form>
                <ul class="header-dropdown m-r--5">
                    <li class="dropdown">
                        <a href="#" onclick="return false;" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                            <i class="material-icons">more_vert</i>
                        </a>
                        <ul class="dropdown-menu pull-right">
                            <li>
                                @Html.ActionLink("Create New", "Create", "Courses", new { area = "Admin" })
                            </li>
                            <li>
                                <a href="#" onclick="return false;">Refresh Data</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="body table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>
                            Student Name
                            </th>
                            <th>
                              ExamName
                            </th>
                            <th>
                            ObtainNo
                            </th>
                            <th>
                            TotalMarks
                            </th>
                            <th>
                              Remarks
                            </th>
                            <th>
                              IsFailed
                            </th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model!=null)
                        {
                            foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.tblUser.Name)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.tblExam.ExamName)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.ObtainNo)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.TotalMarks)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Remarks)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.IsFailed)
                                    </td>
                                    <td>
                                        @Html.ActionLink("Edit", "Edit", new { id = item.ResultID }) |
                                        @Html.ActionLink("Details", "Details", new { id = item.ResultID }) |
                                        @Html.ActionLink("Delete", "Delete", new { id = item.ResultID })
                                    </td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
                @{
                    if (Model != null)
                    {
                        var preDis = !Model.HasPrePage ? "disabled" : "";
                        var nextDis = !Model.HasNextPage ? "disabled" : "";
                        <a asp-action="Index"
                           asp-route-sortOrder="@ViewData["CurrentSort"]"
                           asp-route-pageNumber="@(Model.PageIndex - 1)"
                           asp-route-currentFilter="@ViewData["CurrentFilter"]"
                           class="btn btn-primary @preDis">Previous</a>
                        <a asp-action="Index"
                           asp-route-sortOrder="@ViewData["CurrentSort"]"
                           asp-route-pageNumber="@(Model.PageIndex + 1)"
                           asp-route-currentFilter="@ViewData["CurrentFilter"]"
                           class="btn btn-primary @nextDis">Next</a>

                    }
                }
            </div>
        </div>
    </div>
</div>