@model SymphonyLtd.Models.tblFee

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>tblFee</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.EnrollmentID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EnrollmentID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StudentID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StudentID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PaidAmount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PaidAmount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PaidDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PaidDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ForMonth)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ForMonth)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ChargeBy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ChargeBy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreateOn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreateOn)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ModifiedOn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ModifiedOn)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DeleteBy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DeleteBy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DeleteOn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DeleteOn)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tblFeesType.FeesType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tblFeesType.FeesType)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.FeesID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
