@model SymphonyLtd.Models.tblFeesType

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>tblFeesType</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FeesType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FeesType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsActive)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsActive)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreateOn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreateOn)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ModifiedOn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ModifiedOn)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DeletedBy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DeletedBy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DeletedOn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DeletedOn)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.FeesTypeID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
