@model SymphonyLtd.Models.tblCourse

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_PublicLayout.cshtml";
}


    <!-- Hero Start -->
    <section class="bg-half-260 d-table w-100" style="background: url('/uploads/@Model.Image') center center;">
        <div class="bg-overlay"></div>
    </section><!--end section-->
    <!-- Hero End -->
    <!-- Company Detail Start -->
    <section class="section">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-5 col-12">
                    <div class="job-profile position-relative">
                        <div class="rounded shadow bg-white">
                            <div class="text-center py-5 border-bottom">
                                <img src="~/uploads/@Model.Icon" class="avatar avatar-medium mx-auto rounded-circle d-block" alt="">
                                <h5 class="mt-3 mb-0">@Model.CourseName</h5>
                                <p class="text-muted mb-0">@Model.tblCourseCategory.CourseCategory</p>
                            </div>

                                                        
                            <div class="p-4">
                                @if (Model.tblCourseFeatures.Count() > 0)
                                {
                                    <h5>Course Details :</h5>
                                    <ul class="list-unstyled mb-4">
                                        @foreach (var item in Model.tblCourseFeatures)
                                        {
                                            <li class="h6"><i data-feather="@item.Icon" class="fea icon-sm text-warning me-3"></i><span class="text-muted">@item.CourseFeatureName :</span>@item.ShortDesc</li>
                                        }
                                    </ul>

                                }
                                <div class="d-grid">
                                    <a href="javascript:void(0)" data-bs-toggle="modal" data-bs-target="#ApplyNow" class="btn btn-primary">Apply Now</a>
                                </div>
                            </div>
                        </div>

                        <div class="map mt-4 pt-2">
                            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3152.9459036900826!2d-122.39420768440696!3d37.79130751898054!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8085806516341641%3A0x3f1e44c262252836!2sCircleCI!5e0!3m2!1sen!2sin!4v1575034257139!5m2!1sen!2sin" style="border:0" class="rounded" allowfullscreen=""></iframe>
                        </div>
                    </div>
                </div><!--end col-->

                <div class="col-lg-8 col-md-7 col-12 mt-4 mt-sm-0 pt-2 pt-sm-0">
                    <div class="ms-md-4">
                        <h4>About Course :</h4>
                        <p class="text-muted">@Model.Description</p>
                        @if (Model.tblCourseTopicsMappings.Count() > 0)
                        {
                    <div class="row">
                        @foreach (var item in Model.tblCourseTopicsMappings)
                        {
                            <div class="col-lg-6 mt-4 pt-2">
                                <a href="page-job-detail.html" class="text-dark">
                                    <div class="key-feature d-flex align-items-center p-3 bg-white rounded shadow">
                                        <div class="icon text-center rounded-circle me-3">
                                            <i data-feather="monitor" class="fea icon-ex-md text-primary"></i>
                                        </div>
                                        <div class="content">
                                            <h4 class="title mb-0">@item.tblTopic.Topic</h4>
                                            <p class="text-muted mb-0">@item.tblCourse.tblCourseCategory.CourseCategory</p>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        }

                    </div>
                        }
                    </div>
                </div><!--end col-->
            </div><!--end row-->
        </div><!--end container-->
    </section><!--end section-->
    <!-- Modal Content Start -->
    <div class="modal fade" id="ApplyNow" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content rounded shadow border-0">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalCenterTitle">Apply now </h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body p-4">
                    <form>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="mb-3">
                                    <label class="form-label">Your Name :<span class="text-danger">*</span></label>
                                    <div class="form-icon position-relative">
                                        <i data-feather="user" class="fea icon-sm icons"></i>
                                        <input name="name" id="name" type="text" class="form-control ps-5" required placeholder="First Name :">
                                    </div>
                                </div>
                            </div><!--end col-->
                            <div class="col-md-6">
                                <div class="mb-3">
                                    <label class="form-label">Your Email :<span class="text-danger">*</span></label>
                                    <div class="form-icon position-relative">
                                        <i data-feather="mail" class="fea icon-sm icons"></i>
                                        <input name="email" id="email" type="email" class="form-control ps-5" required placeholder="Your email :">
                                    </div>
                                </div>
                            </div><!--end col-->
                            <div class="col-md-6">
                                <div class="mb-3">
                                    <label class="form-label">Your Phone no. :<span class="text-danger">*</span></label>
                                    <div class="form-icon position-relative">
                                        <i data-feather="phone" class="fea icon-sm icons"></i>
                                        <input name="number" id="number" type="number" class="form-control ps-5" required placeholder="Your phone no. :">
                                    </div>
                                </div>
                            </div><!--end col-->
                            <div class="col-md-6">
                                <div class="mb-3">
                                    <label class="form-label">Job Title :</label>
                                    <div class="form-icon position-relative">
                                        <i data-feather="book" class="fea icon-sm icons"></i>
                                        <input name="subject" id="subject" class="form-control ps-5" required placeholder="Title :">
                                    </div>
                                </div>
                            </div><!--end col-->
                            <div class="col-md-6">
                                <div class="mb-3">
                                    <label class="form-label">Types of jobs :</label>
                                    <select class="form-select form-control" aria-label="Default select example" id="Sortbylist-job">
                                        <option selected>All Jobs</option>
                                        <option>Full Time</option>
                                        <option>Half Time</option>
                                        <option>Remote</option>
                                        <option>In Office</option>
                                    </select>
                                </div>
                            </div><!--end col-->
                            <div class="col-md-12">
                                <div class="mb-3">
                                    <label class="form-label">Description :</label>
                                    <div class="form-icon position-relative">
                                        <i data-feather="message-circle" class="fea icon-sm icons"></i>
                                        <textarea name="comments" id="comments" rows="4" class="form-control ps-5" required placeholder="Describe the job :"></textarea>
                                    </div>
                                </div>
                            </div><!--end col-->
                            <div class="col-md-12">
                                <div class="mb-3">
                                    <label for="formFile" class="form-label">Upload Your Cv / Resume :</label>
                                    <input class="form-control" type="file" id="formFile">
                                </div>
                            </div><!--end col-->
                            <div class="col-md-12">
                                <div class="mb-3">
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                        <label class="form-check-label" for="flexCheckDefault">I Accept <a href="#" class="text-primary">Terms And Condition</a></label>
                                    </div>
                                </div>
                            </div><!--end col-->
                        </div><!--end row-->
                        <div class="row">
                            <div class="col-sm-12">
                                <input type="submit" id="submit" name="send" class="submitBnt btn btn-primary" value="Apply Now">
                            </div><!--end col-->
                        </div><!--end row-->
                    </form><!--end form-->
                </div>
            </div>
        </div>
    </div>
    <!-- Modal Content End -->
   