@model SymphonyLtd.Models.tblExam

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>tblExam</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ExamName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ExamName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ExamDuration)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ExamDuration)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ExamScheduleFrom)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ExamScheduleFrom)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ExamScheduleTo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ExamScheduleTo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TotalMarks)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TotalMarks)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PassingMarks)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PassingMarks)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsValid)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsValid)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsCancled)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsCancled)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsCancledReason)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsCancledReason)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreatedOn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedOn)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ModifiedOn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ModifiedOn)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DeleteOn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DeleteOn)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tblExamType.ExamName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tblExamType.ExamName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tblTopic.Topic)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tblTopic.Topic)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tblUser.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tblUser.Name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ExamID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
