
@{
    Layout = null;
}

@{

    SymphonyLtd.Models.SymphonyDBEntities db = new SymphonyLtd.Models.SymphonyDBEntities();
    SymphonyLtd.Models.tblUser user = (SymphonyLtd.Models.tblUser)Session["User"];
    if (user == null)
    {
        user = new SymphonyLtd.Models.SymphonyDBEntities().tblUsers.FirstOrDefault(x => x.Email == User.Identity.Name);
    }
    var name = (user == null) ? "No Name" : user.Name;
    var email = (user == null) ? "No Email" : user.Email;
    var Courses = db.tblCourses.Where(x=>x.DeletedBy==null && x.DeletedOn==null).Select(s=>new { 
    
    s.CourseID,
    s.CourseName,
    }).Take(10).OrderByDescending(x=>x.CourseID);


}

<!DOCTYPE html>
<html lang="en">


<!-- Mirrored from shreethemes.in/landrick/layouts/index-it-solution.html by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 07 Apr 2021 11:43:54 GMT -->
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Premium Bootstrap 5 Landing Page Template" />
    <meta name="keywords" content="Saas, Software, multi-uses, HTML, Clean, Modern" />
    <meta name="author" content="Shreethemes" />
    <meta name="email" content="shreethemes@gmail.com" />
    <meta name="website" content="http://shreethemes.in/" />
    <meta name="Version" content="v3.0.0" />
    <!-- favicon -->
    <link rel="shortcut icon" href="images/favicon.ico">
    @Styles.Render("~/Public/css")
    <link href="~/App_Assets/Custom/duDialog/duDialog.css" rel="stylesheet" />
    <link href="~/App_Assets/Custom/Toast/toastr.css" rel="stylesheet" />
    <link href="~/App_Assets/Custom/Pace/minimal.css" rel="stylesheet" />
</head>

<body>
    <!-- Loader -->
    <!-- <div id="preloader">
        <div id="status">
            <div class="spinner">
                <div class="double-bounce1"></div>
                <div class="double-bounce2"></div>
            </div>
        </div>
    </div> -->
    <!-- Loader -->
    <!-- Navbar STart -->
    <header id="topnav" class="defaultscroll sticky">
        <div class="container">
            <!-- Logo container-->
            <a class="logo" href="index.html">
                <span class="logo-light-mode">
                    <img src="images/logo-dark.png" class="l-dark" height="24" alt="">
                    <img src="images/logo-light.png" class="l-light" height="24" alt="">
                </span>
                <img src="images/logo-light.png" height="24" class="logo-dark-mode" alt="">
            </a>
            <div class="buy-button">
                @if (user != null)
                {
                    if (user.UserRole_FK == 1)
                    {
                        <a href="~/Admin/Dashboard/Index">
                            <div class="btn btn-primary login-btn-primary">Dashboard</div>
                            <div class="btn btn-light login-btn-light">Dashboard</div>
                        </a>
                    }
                    else if (user.UserRole_FK == 2)
                    {
                        <a href="~/UserProfile/MyAccount">
                            <div class="btn btn-primary login-btn-primary">My Account</div>
                            <div class="btn btn-light login-btn-light">My Account</div>
                        </a>
                    }
                }
                else
                {
                    <a href="~/Account/Login">
                        <div class="btn btn-primary login-btn-primary">Login Now</div>
                        <div class="btn btn-light login-btn-light">Login Now</div>
                    </a>
                }
            </div><!--end login button-->
            <!-- End Logo container-->
            <div class="menu-extras">
                <div class="menu-item">
                    <!-- Mobile menu toggle-->
                    <a class="navbar-toggle" id="isToggle" onclick="toggleMenu()">
                        <div class="lines">
                            <span></span>
                            <span></span>
                            <span></span>
                        </div>
                    </a>
                    <!-- End mobile menu toggle-->
                </div>
            </div>

            <div id="navigation">
                <!-- Navigation Menu-->
                <ul class="navigation-menu nav-light">
                    <li><a href="index.html" class="sub-menu-item">Home</a></li>
                    <li class="has-submenu parent-menu-item">
                        <a href="~/AllCourses/Index">Courses</a><span class="menu-arrow"></span>
                        <ul class="submenu">
                            @if (Courses != null)
                            {
                                foreach (var item in Courses)
                                {
                                    <li><a href="~/AllCourses/Details/@item.CourseID" class="sub-menu-item">@item.CourseName</a></li>
                                }
                            }

                        </ul>
                    </li>
                    <li><a href="~/AllTeachers/Index" class="sub-menu-item">Our Teachers</a></li>
                    <li><a href="~/PublicFAQs/Index" class="sub-menu-item">FAQs</a></li>
                    <li><a href="~/AboutUs" class="sub-menu-item">About Us</a></li>
                    <li><a href="~/ContactUs/Index" class="sub-menu-item">Contact Us</a></li>
                </ul><!--end navigation menu-->
                <div class="buy-menu-btn d-none">
                    <a href="https://1.envato.market/4n73n" target="_blank" class="btn btn-primary">Buy Now</a>
                </div><!--end login button-->
            </div><!--end navigation-->
        </div><!--end container-->
    </header><!--end header-->
    <!-- Navbar End -->

    @RenderBody()

    <!--Modals-->
    <!-- Modal Content Start -->
    <div class="modal fade" id="ApplyNow" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content rounded shadow border-0">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalCenterTitle">Apply now </h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body p-4">
                    @using (Html.BeginForm("ApplicationSubmit", "Ajax", FormMethod.Post, new { id = "form_validation" }))
                    {
                        <div class="row">
                            <div class="col-md-6">
                                <div class="mb-3">
                                    <label class="form-label">Your Name :<span class="text-danger">*</span></label>
                                    <div class="form-icon position-relative">
                                        <i data-feather="user" class="fea icon-sm icons"></i>
                                        <input name="Name" id="Name" type="text" class="form-control ps-5" required placeholder="Your Name :">
                                    </div>
                                </div>
                            </div><!--end col-->
                            <div class="col-md-6">
                                <div class="mb-3">
                                    <label class="form-label">Your Email :<span class="text-danger">*</span></label>
                                    <div class="form-icon position-relative">
                                        <i data-feather="mail" class="fea icon-sm icons"></i>
                                        <input name="Email" id="Email" type="email" class="form-control ps-5" required placeholder="Your email :">
                                    </div>
                                </div>
                            </div><!--end col-->
                            <div class="col-md-6">
                                <div class="mb-3">
                                    <label class="form-label">Your Phone no. :<span class="text-danger">*</span></label>
                                    <div class="form-icon position-relative">
                                        <i data-feather="phone" class="fea icon-sm icons"></i>
                                        <input name="Phone" id="Phone" type="number" class="form-control ps-5" required placeholder="Your phone no. :">
                                    </div>
                                </div>
                            </div><!--end col-->
                            <div class="col-md-6">
                                <div class="mb-3">
                                    <label class="form-label">Date Of Birth :</label>
                                    <div class="form-icon position-relative">
                                        <i data-feather="book" class="fea icon-sm icons"></i>
                                        <input name="DOB" id="DOB" class="form-control ps-5" type="date" required placeholder="Date Of Birth">
                                    </div>
                                </div>
                            </div><!--end col-->
                            <div class="col-md-12">
                                <div class="mb-3">
                                    <label class="form-label">Types of jobs :</label>
                                    <select class="form-select form-control" aria-label="Default select example" id="Subject">
                                        <option selected value="Apply For Admission">Apply For Admission</option>
                                        <option value="Complaint">Complaint</option>
                                        <option value="Question">Question</option>
                                        <option value="Support">Support</option>
                                        <option value="Others">Others</option>
                                    </select>
                                </div>
                            </div><!--end col-->
                            <div class="col-md-12">
                                <div class="mb-3">
                                    <label class="form-label">Description :</label>
                                    <div class="form-icon position-relative">
                                        <i data-feather="message-circle" class="fea icon-sm icons"></i>
                                        <textarea name="Description" id="Description" rows="4" class="form-control ps-5" required placeholder="Description :"></textarea>
                                    </div>
                                </div>
                            </div><!--end col-->
                            <!--<div class="col-md-12">
                                <div class="mb-3">
                                    <label for="formFile" class="form-label">Upload Your Cv / Resume :</label>
                                    <input class="form-control" type="file" id="formFile">
                                </div>
                            </div>-->
                            <!--end col-->
                            <div class="col-md-12">
                                <div class="mb-3">
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" value="" id="GetInTouch">
                                        <label class="form-check-label" for="flexCheckDefault">I Accept <a href="#" class="text-primary">Terms And Condition</a></label>
                                    </div>
                                </div>
                            </div><!--end col-->
                        </div><!--end row-->
                        <div class="row">
                            <div class="col-sm-12">
                                <input type="submit" id="submit" name="send" class="submitBnt btn btn-primary" value="Apply Now">
                            </div><!--end col-->
                        </div><!--end row-->
                    }
                </div>
            </div>
        </div>
    </div>
    <!-- Modal Content End -->
    <!--Modals-->
    <!-- Footer Start -->
    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-12 mb-0 mb-md-4 pb-0 pb-md-2">
                    <a href="#" class="logo-footer">
                        <img src="images/logo-light.png" height="24" alt="">
                    </a>
                    <p class="mt-4">Start working with Landrick that can provide everything you need to generate awareness, drive traffic, connect.</p>
                    <ul class="list-unstyled social-icon foot-social-icon mb-0 mt-4">
                        <li class="list-inline-item"><a href="javascript:void(0)" class="rounded"><i data-feather="facebook" class="fea icon-sm fea-social"></i></a></li>
                        <li class="list-inline-item"><a href="javascript:void(0)" class="rounded"><i data-feather="instagram" class="fea icon-sm fea-social"></i></a></li>
                        <li class="list-inline-item"><a href="javascript:void(0)" class="rounded"><i data-feather="twitter" class="fea icon-sm fea-social"></i></a></li>
                        <li class="list-inline-item"><a href="javascript:void(0)" class="rounded"><i data-feather="linkedin" class="fea icon-sm fea-social"></i></a></li>
                    </ul><!--end icon-->
                </div><!--end col-->

                @if (Courses != null)
                {


                    <div class="col-lg-2 col-md-4 col-12 mt-4 mt-sm-0 pt-2 pt-sm-0">
                        <h5 class="text-light footer-head">Courses</h5>
                        <ul class="list-unstyled footer-list mt-4">
                            @foreach (var item in Courses)
                            {
                                <li><a href="~/AllCourses/Details/@item.CourseID" class="sub-menu-item">@item.CourseName</a></li>

                            }
                        </ul>
                    </div><!--end col-->
                }
                <div class="col-lg-3 col-md-4 col-12 mt-4 mt-sm-0 pt-2 pt-sm-0">
                    <h5 class="text-light footer-head">Usefull Links</h5>
                    <ul class="list-unstyled footer-list mt-4">
                        <li><a href="page-terms.html" class="text-foot"><i class="uil uil-angle-right-b me-1"></i> Home Page</a></li>
                        <li><a href="page-privacy.html" class="text-foot"><i class="uil uil-angle-right-b me-1"></i> Teachers</a></li>
                        <li><a href="page-privacy.html" class="text-foot"><i class="uil uil-angle-right-b me-1"></i> Courses</a></li>
                        <li><a href="documentation.html" class="text-foot"><i class="uil uil-angle-right-b me-1"></i> About Us</a></li>
                        <li><a href="changelog.html" class="text-foot"><i class="uil uil-angle-right-b me-1"></i> Contact Us</a></li>
                        <li><a href="components.html" class="text-foot"><i class="uil uil-angle-right-b me-1"></i> Components</a></li>
                    </ul>
                </div><!--end col-->

                <div class="col-lg-3 col-md-4 col-12 mt-4 mt-sm-0 pt-2 pt-sm-0">
                    <h5 class="text-light footer-head">Newsletter</h5>
                    <p class="mt-4">Sign up and receive the latest tips via email.</p>
                    @using (Html.BeginForm("Create", "ContactUs", FormMethod.Post))
                    {
                        @Html.AntiForgeryToken()
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="foot-subscribe mb-3">
                                    <label class="form-label">Write your email <span class="text-danger">*</span></label>
                                    <div class="form-icon position-relative">
                                        <i data-feather="mail" class="fea icon-sm icons"></i>
                                        <input type="email" name="Email" id="emailsubscribe" class="form-control ps-5 rounded" placeholder="Your email : " required>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="d-grid">
                                    <input type="submit" id="submitsubscribe" name="send" class="btn btn-soft-primary" value="Subscribe">
                                </div>
                            </div>
                        </div>
                    }
                    </div><!--end col-->
            </div><!--end row-->
        </div><!--end container-->
    </footer><!--end footer-->

    <footer class="footer footer-bar">
        <div class="container text-center">
            <div class="row align-items-center">
                <div class="col-sm-6">
                    <div class="text-sm-start">
                        <p class="mb-0">
                            ©
                            <script>document.write(new Date().getFullYear())</script> Landrick. Design with <i class="mdi mdi-heart text-danger"></i> by <a href="http://shreethemes.in/" target="_blank" class="text-reset">Shreethemes</a>.
                        </p>
                    </div>
                </div><!--end col-->

                <div class="col-sm-6 mt-4 mt-sm-0 pt-2 pt-sm-0">
                    <ul class="list-unstyled text-sm-end mb-0">
                        <li class="list-inline-item"><a href="javascript:void(0)"><img src="images/payments/american-ex.png" class="avatar avatar-ex-sm" title="American Express" alt=""></a></li>
                        <li class="list-inline-item"><a href="javascript:void(0)"><img src="images/payments/discover.png" class="avatar avatar-ex-sm" title="Discover" alt=""></a></li>
                        <li class="list-inline-item"><a href="javascript:void(0)"><img src="images/payments/master-card.png" class="avatar avatar-ex-sm" title="Master Card" alt=""></a></li>
                        <li class="list-inline-item"><a href="javascript:void(0)"><img src="images/payments/paypal.png" class="avatar avatar-ex-sm" title="Paypal" alt=""></a></li>
                        <li class="list-inline-item"><a href="javascript:void(0)"><img src="images/payments/visa.png" class="avatar avatar-ex-sm" title="Visa" alt=""></a></li>
                    </ul>
                </div><!--end col-->
            </div><!--end row-->
        </div><!--end container-->
    </footer><!--end footer-->
    <!-- Footer End -->
    <!-- Back to top -->
    <a href="#" onclick="topFunction()" id="back-to-top" class="btn btn-icon btn-primary back-to-top"><i data-feather="arrow-up" class="icons"></i></a>
    <!-- Back to top -->
    <!-- Style switcher -->
    <div id="style-switcher" class="bg-light border p-3 pt-2 pb-2" onclick="toggleSwitcher()">
        <div>
            <h6 class="title text-center">Select Your Color</h6>
            <ul class="pattern">
                <li class="list-inline-item">
                    <a class="color1" href="javascript: void(0);" onclick="setColor('default')"></a>
                </li>
                <li class="list-inline-item">
                    <a class="color2" href="javascript: void(0);" onclick="setColor('green')"></a>
                </li>
                <li class="list-inline-item">
                    <a class="color3" href="javascript: void(0);" onclick="setColor('purple')"></a>
                </li>
                <li class="list-inline-item">
                    <a class="color4" href="javascript: void(0);" onclick="setColor('red')"></a>
                </li>
                <li class="list-inline-item">
                    <a class="color5" href="javascript: void(0);" onclick="setColor('skyblue')"></a>
                </li>
                <li class="list-inline-item">
                    <a class="color6" href="javascript: void(0);" onclick="setColor('skobleoff')"></a>
                </li>
                <li class="list-inline-item">
                    <a class="color7" href="javascript: void(0);" onclick="setColor('cyan')"></a>
                </li>
                <li class="list-inline-item">
                    <a class="color8" href="javascript: void(0);" onclick="setColor('slateblue')"></a>
                </li>
                <li class="list-inline-item">
                    <a class="color9" href="javascript: void(0);" onclick="setColor('yellow')"></a>
                </li>
            </ul>

            <h6 class="title text-center pt-3 mb-0 border-top">Theme Option</h6>
            <ul class="text-center list-unstyled mb-0">
                <li class="d-grid"><a href="javascript:void(0)" class="btn btn-sm btn-block btn-primary rtl-version t-rtl-light mt-2" onclick="setTheme('style-rtl')">RTL</a></li>
                <li class="d-grid"><a href="javascript:void(0)" class="btn btn-sm btn-block btn-primary ltr-version t-ltr-light mt-2" onclick="setTheme('style')">LTR</a></li>
                <li class="d-grid"><a href="javascript:void(0)" class="btn btn-sm btn-block btn-primary dark-rtl-version t-rtl-dark mt-2" onclick="setTheme('style-dark-rtl')">RTL</a></li>
                <li class="d-grid"><a href="javascript:void(0)" class="btn btn-sm btn-block btn-primary dark-ltr-version t-ltr-dark mt-2" onclick="setTheme('style-dark')">LTR</a></li>
                <li class="d-grid"><a href="javascript:void(0)" class="btn btn-sm btn-block btn-dark dark-version t-dark mt-2" onclick="setTheme('style-dark')">Dark</a></li>
                <li class="d-grid"><a href="javascript:void(0)" class="btn btn-sm btn-block btn-dark light-version t-light mt-2" onclick="setTheme('style')">Light</a></li>
            </ul>
        </div>
        <div class="bottom">
            <a href="javascript: void(0);" class="settings bg-white title-bg-dark shadow d-block"><i class="mdi mdi-cog ms-1 mdi-24px position-absolute mdi-spin text-primary"></i></a>
        </div>
    </div>
    <script src="~/Scripts/jquery-3.4.1.js"></script>
    @Scripts.Render("~/Public/script")
<script src="~/App_Assets/Custom/duDialog/duDialog.js"></script>
<script src="~/App_Assets/Custom/Pace/pace.js"></script>

<script src="~/App_Assets/Custom/Toast/toastr.min.js"></script>
    <script>
        function toggleSwitcher() {
            var i = document.getElementById('style-switcher');
            if (i.style.left === "-189px") {
                i.style.left = "0px";
            } else {
                i.style.left = "-189px";
            }
        };

        function setColor(theme) {
            var url = '/App_Assets/Public/css/colors' + theme + '.css';
            document.getElementById('color-opt').href = url;
            toggleSwitcher(false);
        };

        function setTheme(theme) {
            var url = '/App_Assets/Public/css/' + theme + '.min.css';
            document.getElementById('theme-opt').href = url;
            toggleSwitcher(false);
        };

    </script>

    <script>
        $("form#form_validation").submit((e) => {
        e.preventDefault();
        var url = '@Url.Action("ApplicationSubmit", "Ajax")';
        var model = {
            "Name": $("#Name").val(),
            "Email": $("#Email").val(),
            "Phone": $("#Phone").val(),
            "DOB": $("#DOB").val(),
            "Subject": $("#Subject").val(),
            "Description": $("#Description").val(),
            "GetInTouch": $("#GetInTouch").is(':checked'),
        };
        $.ajax({
            type: "POST",
            url: url,
            data: model, // serializes the form's elements.
            success: function (data) {
                if (data) {
                    $("#ApplyNow").modal('hide');
                }
            }
        });

        });
        function showToast(msg) {
            toastr.options = {
                positionClass: "toast-bottom-right",
                timeOut: 2000,
                extendedTimeOut: 0,
                fadeOut: 0,
                fadeIn: 0,
                showDuration: 0,
                hideDuration: 0,
                debug: false,
                showDuration: "100",
                hideDuration: "100"
            }
            toastr.success(msg);
        }
    </script>
</body>

</html>
